# .NET Core
[Bb]in/
[Oo]bj/
*.user
*.suo
*.suo
*.userosscache
*.sln.docstates
.vs/

# Angular
**/node_modules/
**/dist/
**/tmp/
**/out-tsc/
**/.angular/
**/.sass-cache/
**/coverage/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Secrets
appsettings.Secrets.json
.env*
*.pem
*.key
